In [22]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

source: https://data.world/tom-harrison/support-for-social-service

In [23]:
import pandas  as pd

from   pathlib import Path

In [24]:
path = Path('../Data/social_services_data/SocialServicesData.xls')

In [25]:
df.head()

,caseid,Retirement_Status,Employment_Status,Income_Group,Trust_In_Gov,Ideology,Support_Services
0,5686,1. Retired,0. Unemployed,10.0,NaN,6. Conservative,1.0
1,6565,0. Not Retired,1. Employed,7.0,4. Some of the time,6. Conservative,1.0
2,1241,0. Not Retired,1. Employed,17.0,3. About half the time,6. Conservative,1.0
3,5476,0. Not Retired,0. Unemployed,20.0,NaN,4. Moderate,1.0
4,4507,1. Retired,0. Unemployed,13.0,NaN,7. Extremely Conservative,1.0

In [26]:
df

,caseid,Retirement_Status,Employment_Status,Income_Group,Trust_In_Gov,Ideology,Support_Services
0,5686,1. Retired,0. Unemployed,10.0,NaN,6. Conservative,1.0
1,6565,0. Not Retired,1. Employed,7.0,4. Some of the time,6. Conservative,1.0
2,1241,0. Not Retired,1. Employed,17.0,3. About half the time,6. Conservative,1.0
3,5476,0. Not Retired,0. Unemployed,20.0,NaN,4. Moderate,1.0
4,4507,1. Retired,0. Unemployed,13.0,NaN,7. Extremely Conservative,1.0
...,...,...,...,...,...,...,...
5911,5552,1. Retired,0. Unemployed,14.0,3. About half the time,4. Moderate,NaN
5912,3383,0. Not Retired,0. Unemployed,2.0,NaN,4. Moderate,NaN
5913,6234,0. Not Retired,1. Employed,6.0,4. Some of the time,4. Moderate,NaN
5914,3781,1. Retired,0. Unemployed,NaN,NaN,6. Conservative,NaN
5915,4876,1. Retired,0. Unemployed,3.0,4. Some of the time,4. Moderate,NaN

Data cleaning todos:

1. Drop caseid column
2. find the meaning of the income groups
3. find the meaning of the support column
4. delete any rows where the data in the Support_services column is missing
5. adjust the data in the Employment column so that there are three categories employed, unemployed-retired, unemployed (or maybe just handle this by grouping data during analysis)

Questions I would like to answer using this dataset:

Support questions

1. How does trust in government break down with ideology?
2. How does trust in government break down with retirement status?
3. How does trust in government break down with employment status?
4. How does trust in government break down with income group?

Primary questions

1. How does support for social services break down with trust in government?
2. How does support for social services break down with employment status?
3. How does support for social services break down with income group?